{% extends "base.html" %}

{% block head_content %} 

{% endblock %} 

{% block container %}

 
<!--Detalle de pedido-->

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <h1>Detalles del pedido</h1>
    <div class="card-group">
    <div class="card" style="width: 100%; height: 50%px;">
        <div class="card-body">
        <h5 class="card-title">{{order.name}}</h5>
        <p class="card-text">Cliente: {{order.client}}.</p>
        <p class="card-text">Fecha inicio: {{order.start_date|date:'d-m-Y H:i'}}.</p>
        <p class="card-text">Tipo de servicio: {{order.order_type}}</p>
        <p class="card-text">Coste del servicio: {{order.total_cost}}</p>
        </div>
    </div>
    </div>
</div>

<h2>Menús</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <h2>Coste de menús: {{order.menu_cost}} €</h2>
    <div class="card-group">
        {% for menu in menus %}  
            <div class="card" style="width: 100%; height: 50%px;">
                <div class="card-body">
                    <h5 class="card-title">{{menu.menu.name}}</h5>
                    <p class="card-text">Cantidad: {{menu.menu_ammount}}.</p>
                    <p class="card-text">Coste total: {{menu.total_cost}} €.</p>                              
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<h2>Trabajadores</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <h2>Coste de trabajadores: {{order.worker_cost}} €</h2>
    <div class="card-group">
        {% for worker in workers %}  
            <div class="card" style="width: 100%; height: 50%px;">
                <div class="card-body">
                    <h5 class="card-title">{{worker.worker}}</h5>
                    <p class="card-text">Tarea: {{worker.task}}.</p>
                    <p class="card-text">Inicio: {{worker.start_date|date:'d-m-Y H:i'}}.</p>
                    <p class="card-text">Horas: {{worker.hours_ammount}} horas.</p>                              
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<h2>Extras</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <h2>Coste de extras: {{order.worker_cost}} €</h2>
    <div class="card-group">
        {% for extra in extras %}  
        <div class="card" style="width: 100%; height: 50%px;">
            <div class="card-body">
                <h5 class="card-title">{{extra.extra}}</h5>
                <p class="card-text">Cantidad: {{extra.extra_ammount}}.</p>
                <p class="card-text">Coste total: {{extra.total_cost}} €.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}