{% extends "base.html" %}

{% block head_content %} 

{% endblock %} 

{% block container %}

<!--Pedido-->
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Pedido:</th>
        <th scope="col">Tipo de servicio:</th>
        <th scope="col">Cliente:</th>
        <th scope="col">Fecha inicio:</th>
        <th scope="col">Fecha final:</th>
        <th scope="col">Días laborables:</th>
        <th scope="col">Número de menús:</th>
        <th scope="col">Coste total:</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{order.name}}</th>
            <td>{{order.order_type}}</td>
            <td>{{order.client}}</td>
            <td>{{order.start_date|date:'d-m-Y H:i'}}</td>
            <td>{{order.end_date|date:'d-m-Y H:i'}}</td>
            <td>{{order.labour_days}}€</td>
            <td>{{order.menu_ammount}}€</td>
            <td>{{order.total_cost}}€</td>
        </tr>
    </tbody>
</table>

<!--Menús-->
<h2>Coste de menús: {{order.menu_cost}}€</h2>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Menú</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Coste por menu</th>
        <th scope="col">Coste total</th>
      </tr>
    </thead>
    <tbody>
        {% for menu in menus %}  
        <tr>
            <th scope="row">{{menu.menu.name}}</th>
            <td>{{menu.menu_ammount}} uds.</td>
            <td>{{menu.menu.total_cost}}€</td>
            <td>{{menu.total_cost}}€</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!--Turnos-->
<h2>Coste de trabajadoras: {{order.worker_cost}}€</h2>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Trabajadora</th>
        <th scope="col">Tarea</th>
        <th scope="col">Inicio turno</th>
        <th scope="col">Final turno</th>
        <th scope="col">Horas</th>
        <th scope="col">Coste de jornada</th>
      </tr>
    </thead>
    <tbody>
        {% for worker in workers %}  
        <tr>
            <th scope="row">{{worker.worker}}</th>
            <td>{{worker.task}}</td>
            <td>{{worker.start_date|date:'d-m-Y H:i'}}</td>
            <td>{{worker.end_date|date:'d-m-Y H:i'}}</td>
            <td>{{worker.hours_ammount}}€</td>
            <td>{{worker.total_cost}}€</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!--Extras-->
<h2>Coste de extras: {{order.extra_cost}}€</h2>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Extra</th>
        <th scope="col">Unidades</th>
        <th scope="col">Coste por unidad</th>
        <th scope="col">Coste total</th>
      </tr>
    </thead>
    <tbody>
        {% for extra in extras %}  
        <tr>
            <th scope="row">{{extra.extra}}</th>
            <td>{{extra.extra_ammount}}</td>
            <td>{{extra.extra.unit_cost}}€</td>
            <td>{{extra.total_cost}}€</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

